<% include ../partials/header %>

<div class="container">
    <div class="row">
         <h1 class="text-center">Edit<%= place.name %></h1>
         <!--Styled to center the form-->
         <div style="width: 30%; margin: 3% auto;">
             <form method="POST" action="/places/<%= place._id%>?_method=PUT">
                 <!-- For spacing b/w the form elements we use class="form-group" -->
                 <div class="form-group">
                     <input type="text" name="camp[name]" placeholder="Site name" class="form-control" value=<%= place.name %>>
                 </div>
                 <div class="form-group">
                      <input type="text" name="camp[image]" placeholder="image url" class="form-control" value=<%= place.image %>>
                 </div>
                 <div class="form-group">
                      <input type="text" name="camp[description]" placeholder="description" class="form-control" value=<%= place.description %>>
                 </div>
                 <div class="form-group">
                     <button class="btn btn-lg btn-success btn-block">Submit</button>
                 </div>
             </form>
             <p>
                 <!--class="btn-block" just takes the size of the parent element-->
                 <a class="btn btn-lg btn-danger btn-block" href="/places">Go Back</a>
             </p>
         </div>
    </div>
</div>
 
<% include ../partials/footer %>